/* ◊™‘ÿ«Î±£¡Ù∞Ê»®–≈œ¢£∫¿¡»ÀÕºø‚ www.lanrentuku.com */
*{ padding:0px; margin:0px;}
body, td {
    font-size: 12px;
    line-height: 150%;
}
img{ border:none;}
ul,li{ list-style:none;padding:0px; margin:0px;}
.box li{ width:180px; height:120px;float:left;border:#fff 3px solid; overflow:hidden; position:relative;}
.toll_img{ width:180px; height:120px;}
.toll_info {
    height: 120px;
    width: 180px;
    background: #0169a6;
    vertical-align: middle;
    display:table-cell;
    text-align:center;
}
.box li p{ font:normal 13px/24px 'Œ¢»Ì—≈∫⁄'; cursor:pointer;}
.box li a{ color:#fff; text-decoration:none; position:absolute; top:0; left:0;}
.pageleft {
    background-image: url(../images/page2.png);
    background-repeat:no-repeat;
    cursor:pointer;
}

.pageright {
    background-image: url(../images/page2.png);
    background-repeat:no-repeat;
    background-position:-40px 0;
    cursor:pointer;
}

.divfloat
{
    height:30px;
    line-height:30px;
    float:left;
}

.divh {
    height: 30px;
    line-height: 30px;
}