body,table,td
{
    font-size:12px;
    line-height:150%;

    font-family:'微软雅黑';
}

.divh
{
    height:30px;
    line-height:30px;
    font-size:12px;
}

a:link {color: #21759B; font-size:12px; text-decoration: none;}
a:hover {color: #BC0B0B; font-size:12px; text-decoration: none;}
a:visited {color:#21759B; font-size:12px; text-decoration: none;}
a:visited:hover {color:#21759B; font-size:12px; text-decoration: none;}
a:active {color:#21759B; font-size:12px; text-decoration: none;}

.box li p{ font:normal 13px/24px '微软雅黑'; cursor:pointer;}
.box li a{ color:#fff; text-decoration:none; position:absolute; top:0; left:0;}
.box li a:visited:hover{ color:#fff; text-decoration:none; position:absolute; top:0; left:0;}

.divfloat
{
    height:30px;
    line-height:30px;
    float:left;
}

/* TextBox样式*/
.textbox
{
    width:400px;
    height:20px;
    font-size:12px;
    border:#e1e1e1 1px solid;
    padding-left:3px;
}
/* TextField样式*/
.textfield
{
    width:100%;
    border:#e1e1e1 1px solid;
    font-size:12px;
    padding:5px;
    resize: none;
}
/*==========按钮代码==========*/
.btn1
{
    background-image:url(../images/btn_1.png); height:26px; float:left; line-height:26px; width:41px;
}
.btn1 img
{
    margin-top:5px; margin-left:8px;
}
.btn2
{
    background-image:url(../images/btn_2.png); height:26px; float:left; padding-right:10px; line-height:26px;
}
.btn3
{
    background-image:url(../images/btn_3.png); height:26px; float:left; line-height:26px; width:3px;
}
/* 分页样式*/
.anpager .cpb {background:#e1e1e1 none repeat scroll 0 0;border:1px solid #e1e1e1;color:#999999;font-weight:bold;margin:5px 4px 0 0;padding:4px 5px 0;}
.anpager a {color:#999999;margin:5px 4px 0 0;padding:4px 5px 0;text-decoration:none}
.anpager a:hover{color:#999999;}